.btn {
    cursor: pointer;
    background: $white;
    border: 1px solid $primary-300;
    border-radius: 8px;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    color: $primary-400;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    img {
        margin-right: 4px;
    }
    &:hover {
        background: $primary-100;
    }
    &:focus {
        border: 3px solid $primary-300;
    }
    &:disabled {
        color: $gray-300;
        border: 1px solid $gray-300;
    }
}
